/* Global CSS */

html {
    width: 100%;
    margin: auto;
    text-align: center;
}
#wrapper {

    border: 0;
    margin: auto;


}

h1 {
    font-family: "Varela Round";
}

h2 {
    font-family: "Varela Round";
}

h3 {
    font-family: "Varela Round";
    font-size: 22pt;
}

h4 {
    font-family: "Varela Round"; 
}

p{
    font-family: "Open Sans";
}


body {
    background-image: linear-gradient(-30deg,  #E5FFF6, #ADD8E6,  #6495ED);
    background-repeat: no-repeat;
}


    a:link, a:visited {
        background-color: none;
        color:blue;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: none;
        text-decoration: none;
        color: blue;
      }

      a:hover {
          text-decoration: none;
      }

.largecontentwrapper {
    margin: 0 3em 3em 3em;
}


.pagetitle {
    font-family: 'Varela Round' ;
    font-size: 20pt;
    text-align: center;
    padding: 1em;
}

.pagetitle h2 {
    margin-block-start: .2em;
    margin-block-end: .2em;
}

.largecontainer {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    background-color: white;
    background-image: url(images/backgroundimage2.png);
    border-radius: 5px;
}

.mediumcontainer {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.smallcontentwrapper {
    padding-left: 2.2em;
    padding-right: 2.2em;
}

.narrowcontainer{
    display: block;
    background-color: #f8f8f8;
    background-image: url(images/backgroundimage2.png);
    display: block;
    border: 0px;
    border-style: none;
    margin: auto;
    border-radius: 5px;
    max-width: 800px;
    min-width: 24em;
    max-height: 800px;
    line-height: 200%;
    margin-top: 0em;
    margin-bottom: 2em;
    padding: 1em;
}


/* End Global CSS */
  
/* Header CSS */

header {
    height: 12.5%;
}



.header-logo {
    max-height: 100px;
    width: auto;
}

.nav-tab {
    margin: 5px;
    padding: 5px 15px;
    margin-bottom: 0;
    display: block;

    background-color: ivory;
    font-weight: bold;
    border-radius: 20px;

    font-family: 'Varela Round';
}

/* navbar test */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}


    /* End Header CSS */



}
    /* Authors CSS */





.galleryauthor {
    display: block;
    margin: auto;
    background-color: white;
    background-image: url(images/backgroundimage2.png);
    border-radius: 5px;
    max-width: 800px;
    max-height: 800px;

}

.authorheadshot {

    display: block;
    text-align: center;
    width: 24em;
    height: 24em;
    margin-top: 1em;


}

.authorname {
    text-align: center;
    max-width: 24em;
    display: block;
    background-color: #c5c5c5;


}

.authorname h3 {
    font-family: 'Varela Round' ;
    font-size: 22pt;
    margin-block-start: .5em;
    margin-block-end: 0;
}


.authorinfo {
    max-width: 24em;
    display: block;
    background-color: #c5c5c5;
    text-align: center;
    padding-bottom: .5em;
    margin-bottom: 1em;


 
}

.authorinfo p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 10pt;
    font-family: 'Open Sans';
}

    /* End Author CSS */

/* Start Meet UP CSS */

.meetimage img {
    width: 350px;
    margin: 1em;
}

.meetingcenter {
    align-content: center;
}

.meetupcontainer {
    padding: 2em;
}

/* End Meet Up CSS */
/* Gallery CSS */

.projectcontent{
    display: block;
    background-color: #f8f8f8;
    display: block;
    border: 3px;
    border-style: dashed;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
    min-width: 24em;
    min-height: 800px;
    line-height: 200%;
    margin-top: 0em;
    margin-bottom: 2em;
    padding-top: 2em;
}


.projectcontent p {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left;
    font-family: 'Open Sans';
}

.contentarrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightarrow img {
    max-width: 2em;
    max-height: 1em;
    margin-left: 2em;
}

.leftarrow img {
    max-width: 2em;
    max-height: 1em;
    margin-right: 2em;
}

.leftarrow {
    margin: .5em;
    display: block;
    background-color: cornflowerblue;
    box-shadow: 2px 1px #00688B;
    padding: .5em;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 10pt;
    width: 110px;
}

.rightarrow {
    margin: .5em;
    display: block;
    background-color: cornflowerblue;
    box-shadow: 2px 1px #00688B;
    padding: .5em;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 10pt;
    width: 110px;
}



/* End Gallery CSS */

/* End Meet Up CSS */

/* Sign Up CSS */
.signupcontainer {
    background-color: #f8f8f8;
    background-image: url(images/backgroundimage2.png);
    padding: 2em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 3em;
    max-height: 600px;
    text-align: left;
}



.signupimage img {
    text-align: center;
    max-height: 450px;
    display: block;

}


.formbox {
    text-align: left;
    display: block;
    padding: 1em;
}



.formbox h3 {
    font-family: 'Varela Round';
    font-size: 18pt;
    margin-block-start: 0em;
    margin-block-end: 1em;
}

.form {
    font-family: 'Varela Round';
    font-size: 14pt;
}

.small-box {
    border: 1px solid;
    padding: 2px;
    margin-bottom: 5px;
    width: 70%;
}

.big-box {
    border: 1px solid;
    padding: 2px;
    width: 90%;
    height: 150px;
    margin-bottom: 5px;
    
}
#name-label {
    font-weight: bold;
}

#email-label {
    font-weight: bold;
}

#about-label {
    font-weight: bold;
    margin-top: 10px;
}

/* End Sign Up CSS */

/* Home CSS */



/* End Home Css */


    /* End Main CSS */

    /* Footer CSS */
#footer{
    text-align: center;
}

.footelementcontainer {
    margin-left: 3em;
    margin-right: 3em;
    font-family: 'Open Sans';
    padding-bottom: 1em;
}

.footnav {
    display: block;
    margin: 2px , 10px;
}

.copyrightinfo {
    display: flex;
    align-content: baseline;
    font-size: 10pt;
    font-family: "Open Sans";
}



.footsocialmediacontainer {
    margin-top: 1em;
}

.socialmedia{
    width: 25px;
    height: 25px;
    margin: 10px;
}

    /* End Footer CSS */

/* Tablet Viewport */

@media only screen and (max-width: 720px) {

    #pencilimage {
        display: none;
    }

    .nav-tab {
        margin: 5px;
        padding: 5px 15px;
        width: 100%;
        margin-bottom: 0;
        display: block;
    
        background-color: ivory;
        font-weight: bold;
        border-radius: 20px;
    
        font-family: 'Varela Round';
    }
}



/* End Tablet Viewport */

/* Mobile Viewport */
@media only screen and (max-width: 480px) {
    
.largecontentwrapper {
    margin: auto;
}

.largecontainer {
      display: inherit;
      margin: auto;
      background-color: inherit;
      background-image: inherit;
      border-radius: 5px;
  } 

.mediumcontainer {
    max-width: 400px;
    margin: auto;
}

#homecontainer {
    display: block;
    margin: auto;
    background-color: white;
    background-image: url(images/backgroundimage2.png);
    border-radius: 5px;
  }
  
#sdcontentwrapper{
    margin: 0;  
    margin-bottom: 3em; 
  }

#homeimage{
      display: none;
  }

.formbox {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #f8f8f8;
}

.projectcontent {
    margin: 0;
}

#main {
 margin: 0;
}

  }

  /* End Mobile Viewport */